<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form #formRef="ngForm"
  (ngSubmit)="onSubmit(formRef.value)">
  <input name="username"
    type="text"
    [(ngModel)]="username">
  {{username}}

  <br>

  <input name="password"
    type="text"
    [(ngModel)]="password"
    #passwordRef="ngModel"
    required
    minlength="3">

  <br>

  <div *ngIf="passwordRef.errors?.required">Password is required.</div>
  <div *ngIf="passwordRef.errors?.minlength">
    Min length is {{passwordRef.errors?.minlength.requiredLength}}.
    You only typed {{passwordRef.errors?.minlength.actualLength}}.
  </div>

  <br>

  <div *ngIf="passwordRef.errors">
  {{passwordRef.errors | json}}
  </div>

  <button type="submit">submit</button>
</form>

<div>
  <h3>Form</h3>
  {{formRef.value | json}}
  <br>
  {{formRef.valid}}
</div>
