<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form #formRef="ngForm"
  (ngSubmit)="onSubmit(formRef.value)">

  <fieldset ngModelGroup="login">
    <div *ngFor="let location of locations">
      <input required
             [attr.id]="location"
             name="loca"
             ngModel
             [value]="location"
             type="radio">
      <label [attr.for]="location">{{location}}</label>
    </div>
    <br>
    <select name="locaSel"
            [ngModel]="locations[0]">
      <option *ngFor="let location of locations"
        [value]="location">
        {{location}}
      </option>
    </select>
    <br>
    <input name="username"
      required
      type="text"
      [(ngModel)]="username"
      #usernameRef="ngModel">
    {{username}}
    <br>
    <input name="password"
      type="password"
      [(ngModel)]="password"
      #passwordRef="ngModel"
      required
      minlength="3">
    <br>
    <div *ngIf="passwordRef.errors?.required">Password is required.</div>
    <div *ngIf="passwordRef.errors?.minlength">
      Min length is {{passwordRef.errors?.minlength.requiredLength}}.
      You only typed {{passwordRef.errors?.minlength.actualLength}}.
    </div>
    <br>
    <div *ngIf="passwordRef.errors">
    {{passwordRef.errors | json}}
    </div>
  </fieldset>

  <button type="submit">submit</button>
</form>

<div>
  <h3>Form</h3>
  {{formRef.value | json}}
  <br>
  {{formRef.valid}}
  <hr>
  <h4>username</h4>
  untouched: {{usernameRef.untouched}}<br>
  touched: {{usernameRef.touched}}<br>
  pristine: {{usernameRef.pristine}}<br>
  dirty: {{usernameRef.dirty}}<br>
  <hr>
</div>
